<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wang.mobilesafe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <!-- 访问网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问SD卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 监听电话权限 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <!-- 获取SIM卡信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 获取手机联系人信息权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 发送短信权限 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 接收短信权限 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- 定位位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 拖拽桌面上的控件的权限 -->
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.wang.mobilesafe" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 挂断电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application
        android:name="MobileSafeApplication"
        android:allowBackup="true"
        android:icon="@drawable/shenmatran"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.wang.xxx" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" >
        </activity>
        <activity android:name=".SettingActivity" >
        </activity>
        <activity android:name=".LostFindActivity" >
        </activity>
        <activity android:name=".Setup1Activity" >
        </activity>
        <activity android:name=".Setup2Activity" >
        </activity>
        <activity android:name=".Setup3Activity" >
        </activity>
        <activity android:name=".Setup4Activity" >
        </activity>
        <activity android:name=".SelectContactActivity" >
        </activity>
        <activity android:name=".AtoolsActivity" >
        </activity>
        <activity android:name=".NumberQueryActivity" >
        </activity>
        <activity android:name=".CommonNumberActivity" >
        </activity>
        <activity
            android:name=".DragViewActivity"
            android:theme="@style/Theme.Wallpaper" >
        </activity>
        <activity
            android:name=".CallSmsSafeActivity"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name=".EditBlackNumberActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity android:name=".AppManagerActivity" >
        </activity>
        <activity android:name=".ShareActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".TaskManagerActivity" >
        </activity>
        <activity android:name=".TaskSettingActivity" >
        </activity>

        <service android:name=".service.ShowLocationService" >
        </service>
        <service android:name=".service.CallSmsFireWallSerivce" >
        </service>
        <service android:name=".service.AutoKillService" >
        </service>
        <service android:name=".service.UpdateWidgetService" >
        </service>

        <receiver android:name=".receiver.OutCallReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.BootCompleteRecevier" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.SmsReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.MyAdmin"
            android:description="@string/sample_device_admin_description"
            android:label="@string/sample_device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample" />

            <intent-filter android:priority="1000" >
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.MyWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info" />
        </receiver>
        <receiver android:name=".receiver.MyKillProcessReceiver" >
            <intent-filter>
                <action android:name="com.wang.killbgprocess" />
            </intent-filter>
        </receiver>
    </application>

</manifest>